<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseUrlForOneLocation" value="http://api.openweathermap.org/data/2.5/weather?" />
    <add key="BaseUrlForOneSeveralLocations" value="http://api.openweathermap.org/data/2.5/group?" />
    <add key="AppID" value="e4aa837906ca2b9650e48cbe629630cd" />
  </appSettings>
</configuration>